.titlebar{
    display: flex;
    justify-content: center;
}
.the_text{
    position: relative;
    top: 15px;
    left: 45px;
    transform: rotate(270deg);
    font-weight: bold;
    font-size: 30px;
    width: 70px;
}

.siren_text{
    position: relative;
    top: 20px;
    font-size: 70px;
    font-weight: bolder;
}